<h1>Bienvenidos a la mejor Pagina de Borracheras :v</h1>


<div class="row">
  <div class="col-sm-6">
    <div class="jumbotron">
      <h1>Usuario</h1>
      <p>Registrate para participar en las borracheras</p>
      <p><a class="btn btn-primary btn-lg" href="/CrearUsuario" role="button">Registrar Usuario</a></p>
      <p>Revisa la lista de usuario</p>
      <p><a class="btn btn-primary btn-lg" href="/ListarUsuario" role="button">Listar Usuarios</a></p>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="jumbotron">
      <h1>Borrachera</h1>
      <p>Registra una Borrachera</p>
      <p><a class="btn btn-primary btn-lg" href="/CrearBorrachera" role="button">Registrar Borrachera</a></p>
      <p>Revisa la lista de Borracheras</p>
      <p><a class="btn btn-primary btn-lg" href="/listarBorrachera" role="button">Listar Borrachera</a></p>
    </div>
  </div>
</div>



