<h2>Crear Usuario</h2>


<form action="/Usuario/CrearUsuario" method="post">

    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese su Nombre" name="nombres">
    </div>

    <div class="form-group">
        <label>Ciudad de Residencia</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese su ciudad de Residencia" name="ciudad">
    </div>
    
    <div class="form-group">
        <label>Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="exampleInputEmail1" placeholder="Ingrese su fecha de nacimiento" name="fechaNacimiento">
    </div>    

    <button type="submit" class="btn btn-success">Crear usuario</button>
</form>