<h2>Crear Usuario</h2>

<form action="Usuario/CrearUsuario" method="post">

    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Ingrese su Nombre" name="nombre">
    </div>

    <div class="form-group">
        <label>Ciudad de Residencia</label>
        <input type="text" class="form-control" placeholder="Ingrese su ciudad de Residencia" name="ciudadResidencia">
    </div>

    <div class="form-group">
        <label>Fecha de Nacimiento</label>
        <input type="date" class="form-control" placeholder="Ingrese su fecha de nacimiento" name="fechaNacimiento">
    </div>

    <button type="submit" class="btn btn-success">Crear usuario</button>
</form>
